<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
{{#icons}}
  <symbol id="icon-{{name}}" viewBox="0 0 {{grid}} {{grid}}">
    {{#path}}
    <path d="{{.}}" fill="none"></path>
    {{/path}}
  </symbol>
{{/icons}}
</svg>


